body{
	background-image: url(http://intro-webdesign.com/CSS/assignment-2/images/flywheel.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	border: 5px solid white;
}
h1{
	color: 	#ffffff;
	text-transform: uppercase;
	text-align: center;
	font-family: courier;
	font-size: 300%;
	line-height: 120%;
}
nav a{
	display: inline-block;
	width: 200px;
	margin: 3.5%;
	text-decoration: none;
	background: rgba(255,255,255,0.2);
	color: #000000;
	font-weight: bolder;
	padding: 30px;
	text-align: center;
	border-radius: 7px;
}
a:link{
	color: black;
}
a:hover{
	background: rgba(255,255,255);
}
section{
	background-color: #ffffff;
	width: 67%;
	height: 400px;
	float: right;
	padding: 30px;
	/*margin: 1px;*/
	margin-left: 3.5%;
}
aside{
	width: 20%;
	margin-left: 3.5%;
	margin-top: 5px;
	background-color: rgba(255,255,255,0.5);
}
img{
	padding: 50px;
}
section, aside{
	display: inline-block;
}